*{
    border: 0;
    padding: 0;
    margin: 0;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family:sans-serif;
    width: 100%;
    height: 100vh;
}

h2{
    font-size: 60px;
    background: #eee;
    padding: 8px 24px;
    border-radius: 16px;
}

div:nth-child(1){
    background-image: url(./assets/7eea01a7a420f7bcc39064b7dc9252fd.jpg);
    background-size:cover;
}

div:nth-child(2){
    background:maroon;
}

div:nth-child(3){
    height: 400px;
    background-image: url(./assets/7fa7bb83f07e1eb17e768b3d6dabbef7.jpg);
    background-size: cover;
    background-attachment: fixed;
}

div:nth-child(4){
    background:aquamarine;
}